

 <!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Projektportal</h1>
                    <p class="intro-text">
                        <b>Information kring alla gruppers tjänster och delområden.</b>
                        <br>
                    </p>
                    <a href="#servicePortal" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Projectportal Section -->
<section id="servicePortal" style="padding-top: 200px; padding-bottom: 300px;">
    <div class="container">
        <div class="row">

            <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                <h1 style="text-align: center; font-size: 50px;">Projektportal</h1>
                <ul class="event-list">

                    <!-- Group ONE -->
                    <li>
                        <time datetime="2014-07-20">
                            <span class="month">GRP</span>
                            <span class="day">1</span>
                        </time>
                        <div class="info">
                            <h2 class="title">Systemadmin</h2>
                            <p class="desc">
                                Loggning, projektportal.<br />
                                <a href="http://decoresysadmin.azurewebsites.net" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> <i>Länk till gränssnitt (Studenter)</i> </a><br />
                                <a href="http://decorestudent.azurewebsites.net" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> <i>Länk till gränssnitt (SysAdmin)</i> </a><br />
                                Tjänster: Inloggningstjänst, Studenttjänst, Användartjänst.
                            </p>
                        </div>


                        <div class="social">
                            <ul>
                                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-github"></span></a></li>
                                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- Group TWO -->
                    <li>
                        <time datetime="2014-07-20">
                            <span class="month">GRP</span>
                            <span class="day">2</span>
                        </time>
                        <div class="info">
                            <h2 class="title">Extern info</h2>
                            <p class="desc">
                                Canonisk datamodell, kodstandard.<br /><a href="http://193.10.202.72/Homepage/Homepage/Home/Apply" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> <i>Länk till gränssnitt (Anmälning)</i> </a><br />
                                Tjänster: Anmälningstjänst, Betaltjänst, Publiceringstjänst.
                                
                            </p>
                        </div>
                        <div class="social">
                            <ul>
                                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                <li class="twitter" style="width:34%;"><a href="#github"><span class="fa fa-github"></span></a></li>
                                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- Group THREE -->
                    <li>
                        <time datetime="2014-07-20">
                            <span class="month">GRP</span>
                            <span class="day">3</span>
                        </time>
                        <div class="info">
                            <h2 class="title">Schema och personalansvarig</h2>
                            <p class="desc">
                                Serviceregister, Gemensam dokumentationsarea, användarmanual.<br /><a href="#" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> <i>Länk till gränssnitt</i> </a><br />
                                Tjänster: Personaltjänst, Schematjänst.
                            </p>
                        </div>
                        <div class="social">
                            <ul>
                                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                <li class="twitter" style="width:34%;"><a href="#github"><span class="fa fa-github"></span></a></li>
                                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- Group FOUR -->
                    <li>
                        <time datetime="2014-07-20">
                            <span class="month">GRP</span>
                            <span class="day">4</span>
                        </time>
                        <div class="info">
                            <h2 class="title">Eventansvarig</h2>
                            <p class="desc">
                                Grafisk design, övervakning<br /><a href="http://decoreapp.azurewebsites.net" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> <i>Länk till gränssnitt</i> </a><br />
                                Tjänster: Biljettjänst, Alkotjänst, Eventtjänst.
                            </p>
                        </div>
                        <div class="social">
                            <ul>
                                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                <li class="twitter" style="width:34%;"><a href="#github"><span class="fa fa-github"></span></a></li>
                                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


