@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}   

 <!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">DeCore</h1>
                    <p class="intro-text">
                        <b>Gränssnitt för systemadministratörer</b>
                        <br><b><a href="#login" class="page-scroll aIntro">Logga in</a></b> för att sätta igång.
                    </p>
                    <a href="#login" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Login Section -->
<section id="login" style="padding-bottom: 330px;  padding-top: 350px;">
    <div class="container">
        <div class="row">
            <form class="form-horizontal" action="Home/Login" method="post">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="userinputLogin"></label>
                        <div class="col-md-12">
                            <h1 style="text-align: center; font-size: 50px;">Logga in</h1>
                            <input id="userinputLogin" name="userinputLogin" type="email" placeholder="Emailadress" class="form-control input-md" required="">
                        </div>
                    </div>
                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="passwordinput"></label>
                        <div class="col-md-12">
                            <input id="passwordinputLogin" name="passwordinputLogin" type="password" placeholder="Lösenord" class="form-control input-md" required="">
                        </div>
                    </div>
                    <!-- Submit button -->
                    <div class="form-group" style="text-align: center;">
                        <label class="col-md-6 control-label" for="loginSubmit"></label>
                        <div class="col-md-12">
                            <input type="submit" id="loginSubmit" name="loginSubmit" value="Logga in" class="btn btn-success" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>