@model DecoreSysAdminFront.UserServiceRef.StudentUsers

@{
    ViewBag.Title = "DetatchStudent";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<br />
<br />
<h3 style="text-align: center;">Frånkoppla studentkonto</h3>

<div class="form-horizontal">
    <h4 style="text-align: center;">Vill du verkligen ta bort studentkontot från @Model.Email?</h4>
    <div>
        <h4></h4>
        <hr />
        <br />
        <br />


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Id)

            <div class="form-actions no-color" style="text-align: center;">
                <input type="submit" value="Ta bort" class="btn btn-danger" />  @Html.ActionLink("Tillbaka", "Dashboard", null, new { @class = "btn btn-default" })

            </div>
        }
    </div>

    </div>
