
 <!-- Imports the Navigation bar-->
@Html.Partial("_Navbar")


@RenderSection("outsideContainer", false)

<!-- All pages are rendered inside this container-->
<section class="page-wrapper">
    <div class="container">

        @RenderBody()

    </div>
</section>
