@using System.Web.Mvc.Html

<!DOCTYPE html>
<html lang="sv">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet">
    <meta charset="utf-8">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Imports the Navigation bar-->
    @Html.Partial("_Navbar_start")


    @RenderSection("outsideContainer", false)

    <!-- All pages are rendered inside this container-->
    <section class="page-wrapper">
        <div class="container">
           

            @RenderBody()

        </div>
    </section>
</body>
</html>
